./config

nat.d/nat-available/*
rezo.d/rezo-available/*
backup.d/backup-available/*
init.d/init-available/*

nat.d/nat-enabled/*
rezo.d/rezo-enabled/*
backup.d/backup-enabled/*
init.d/init-enabled/*


!README.md
!TODO.md
!INSTALL.md

!nat.d/nat-available/vmsample
!rezo.d/rezo-available/netsample
!backup.d/backup-available/backup-sample
!init.d/init-available/init-rezo
!init.d/init-available/init-sample
